*{
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}
.cart{
    position: relative;
}
.h1{
    margin: 20px;
}
.button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px;
}
#cartlogo{
   
    height: 32px;
    width: 32px;
    
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 60%;
}

.product{
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product a{
    color: white;
   
}
.but{
    border: 1px solid black;
    margin-top: 3px;
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
    background-color: white;
}
.visitka{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: coral;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 60%;
}
.profPicture{
    border: 1px solid black;
    border-radius: 50%;
    margin: 20px;
}
.visitkName{
    margin: 0px;
}
.seller-products{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 10px;
    color: white;
    padding: 10px;
    width: 300px;
}
#prod{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: coral;
    margin-top: 20px;
    border-radius: 5px;
    width: 900px;
    padding: 10px;
}
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#cart-products{
    border: 3px solid black;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    position: absolute;
   z-index: 1;
   background-color: white;
}
.productInCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* #cart-products::before{
   content: '';
   border: transparent solid 16px;
   border-bottom: solid #000 16px;
   position: relative;
   top: -2.9rem;
   left: 1.3rem;
   z-index: -3;
   height: 10px;
} */
.hide{
    display: none;
}


#cart-products img{
    height: 50px;
    width: 50px;
}

.cartItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1245px){
    #main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 60%;
    }
     
}



@media (max-width: 800px){
    #main{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: repeat(1fr, 6);
        grid-gap: 10px;
        width: 60%;
    }
     
}



